<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.example.flutter_plugin">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application>
        <service android:name="com.tool.clinglibrary2.service.ClingService"/>
        <service android:name="com.tool.clinglibrary2.service.SystemService"/>
    </application>
</manifest>
